*{
    background-color: black;
    text-align: center;
    
}

h1{
    color: white;
}
h3{
    color: white;
}
h4{
    color: gainsboro;
    text-align: right;
}
.cta{
    color: aquamarine;
}
.miniphone{
    padding-top: 30px;
}